name: Vitest CI
permissions: {}
on:
    pull_request:
        types:
            - opened
            - synchronize
    push:
        branches:
            - "**"

jobs:
    eslint:
        name: ⚙️ Test with Vitest
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
            - uses: actions/checkout@v6

            - name: Use Node.js
              run: sudo snap install node --channel=24/stable --classic

            - name: Install pnpm
              run: npm install -g pnpm

            - name: Install dependencies
              run: pnpm install

            - name: Execute vitest
              run: pnpm ci:vitest
